/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app-container {
  display: flex;
  direction: rtl;
}

.main-content {
  flex: 1;
  margin-left: 320px; /* המותאם לרוחב הסרגל הקבוע בצד שמאל */
}

.song-details {
  width: 300px;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link.active {
  font-weight: bold;
}

.main-layout-content {
  margin-top: 60px; /* מתאים לגובה סרגל הניווט */
  flex: 1;
}

.likes-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.likes-container:hover {
  transform: scale(1.2);
}

.thumbs-icon {
  color: gray;
  margin-right: 8px;
  font-size: 24px;
}

.likes-container.liked .thumbs-icon {
  color: blue;
  transition: color 0.2s;
}

.audio-player {
  width: 100%;
  margin-top: 20px;
}

.likes-container.liked {
  cursor: not-allowed;
}

.songs-page {
  display: flex;
  margin-left: 320px; /* מותאם לגודל סרגל השירים */
}

.songs-container {
  flex: 2;
  padding: 20px;
}

.songs-list {
  display: flex;
  flex-wrap: wrap;
}

.song-card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
