/* Singers.css */
.singers-container {
  padding: 20px;
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.singer-card {
  position: relative;
  width: 180px;
  text-align: center;
  
  background: none;
  border-radius: 15px;
  
}

.singer-card img {
  width: 100%;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}

.singer-card:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.2);
}

.singer-card h2 {
  margin: 10px 0;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.popup-description {
  display: none;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 240px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.singer-card:hover .popup-description {
  display: block;
  opacity: 1;
  transform: translate(-50%, -110%);
  pointer-events: auto;
}

.popup-description p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.4;
} 





